matplotlib==3.10.3
monai==1.5.0
numpy==1.26.4
opencv-python==4.11.0.86
pandas==2.2.3
pydicom==3.0.1
pytorch-ignite==0.5.2
scikit-learn==1.6.1
seaborn==0.13.2
tensorflow==2.15.0
# tensorflow-macos==2.15.0
torch==2.6.0
wandb